.nav {
	grid-area: n;
	background-color: #58cc86;
}

.nav ul {
	padding-left: 15px;
	list-style-type: none;
}

.item a {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	text-decoration: none;
	color: white;
}

.item.active {
	color: gold;
}